﻿@{
    ViewBag.Title = "Medical Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    <link href="@Url.Content("~/wwwroot/css/patient/patient.css")" rel="stylesheet" />
    <link href="@Url.Content("~/wwwroot/css/record/record.css")" rel="stylesheet" />
}

<div ng-app="medicalServiceModule">
    <div ng-view></div>
</div>

@section scripts {
}
