﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Please confirm</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>Do you want to set an appointment with {{$ctrl.doctor.Name}} {{$ctrl.doctor.Surname}} on {{$ctrl.day.format('MMMM DD')}} in {{$ctrl.hour}}:{{$ctrl.min}}?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
