﻿<div class="about-carousel">
    <div uib-carousel interval="5000" active="active" >
        <div uib-slide index="$index" ng-repeat="slide in $ctrl.slides">
            <img ng-src="{{slide.image}}" class="img-carousel">
            <div class="carousel-caption">
                <h1 class="caption-caption">{{slide.caption}}</h1>
                <h4 class="text-caption">{{slide.text}}</h4>
            </div>
        </div>
    </div>
</div>
