﻿@{
    ViewBag.Title = "Medical Service";
}

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/wwwroot/css/about/about.css")" />
}


<div ng-app="medicalServiceModule">
    <about></about>
</div>
