﻿@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/wwwroot/css/appointment/appointment.css")"/>
}

<div ng-app="medicalServiceModule">
    <doctors-appointment></doctors-appointment>
</div>

@section scripts {
    
}
