﻿<h2 class="text-center">Patients</h2>
<div class="row">
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon" id="addon-filter"><span class="glyphicon glyphicon-filter" aria-hidden="true" ></span></span>
            <input type="text" class="form-control" placeholder="Name" aria-describedby="addon-filter" ng-model="$ctrl.filterName">
        </div>
    </div>
    <div class="col-md-10">
        <uib-tabset>
            <uib-tab index="$index" heading="{{status}}" ng-repeat="status in ['Active', 'Archived']">
                <div ng-repeat="patient in $ctrl.patients[$index] | filter:$ctrl.filterName" class="row patient">
                    <a href="#!/{{patient.ID}}">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="text-center">{{patient.Name}} {{patient.Surname}}</h5>
                            </div>
                            <div class="panedl-body">
                                <img ng-src="/wwwroot/images/UserPhoto/{{patient.IsTherePhoto? patient.ID : 'unknown'}}/photo.jpg" alt="{{patient.Surname}} {{patient.Name}}" class="img-responsive img-rounded"/>
                            </div>
                        </div>
                    </a>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
