﻿<h2 class="text-center">Medical Record of {{$ctrl.currentPatient.Name}} {{$ctrl.currentPatient.Surname}}</h2>

<uib-tabset active="$ctrl.currentSpecialityId">
    <uib-tab index="spec.ID" ng-repeat="spec in $ctrl.specialities" heading="{{spec.Name}}">
        <uib-tabset type="pills">
            <uib-tab index="doctor" ng-repeat="doctor in $ctrl.doctorWithSpeciality[spec.ID]"
                        heading="{{$ctrl.doctorPresentation($ctrl.medicalRecords[spec.ID][doctor][0].Doctor)}}">
                <div ng-repeat="record in $ctrl.medicalRecords[spec.ID][doctor]" class="record">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-warning">
                                <div class="panel-heading">{{$ctrl.dateInReadableFormat(record.Date)}}</div>
                                <div class="panel-body">
                                    <textarea ng-model="record.Record" class="form-control"></textarea>
                                    <button ng-click="$ctrl.saveChanges(record.ID, record.Record)" class="btn btn-success center-block">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </uib-tab>
</uib-tabset>
