﻿@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-6">
        @{ Html.RenderPartial("_RegisterDoctorPartial", new MedicalService.ViewModels.RegisterDoctorViewModel()); }
    </div>
    <div class="col-md-6">
        @{ Html.RenderPartial("_RegisterPatientPartial", new MedicalService.ViewModels.RegisterPatientViewModel()); }
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
}

@section stylesheets {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
}
