﻿<h2 class="text-center">Appointments</h2>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon" id="addon-filter"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></span>
                <input type="text" class="form-control" placeholder="Name or speciality" aria-describedby="addon-filter" ng-model="$ctrl.filterDoctor">
            </div>
        </div>
        <div class="col-md-5">
            <div ng-repeat="doctor in $ctrl.doctors | filter:$ctrl.filterDoctor" class="well">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-info doctor-panel">
                            <div class="panel-heading">
                                <h5 class="text-center">{{doctor.Name}} {{doctor.Surname}}</h5>
                            </div>
                            <img ng-src="/wwwroot/images/UserPhoto/{{doctor.IsTherePhoto? doctor.ID : 'unknown'}}/photo.jpg" alt="{{doctor.Surname}} {{doctor.Name}}" class="img-responsive doctor-photo"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="label label-info speciality-label" ng-repeat="speciality in doctor.Specialities">
                                    {{speciality}}
                                </span>
                            </div>
                        </div>
                        <div class="row workplace">
                            <div class="col-md-12">
                                <div class="well well-sm" ng-repeat="workplace in doctor.WorkPlaces">
                                    <div class="page-header">
                                        <h3>
                                            {{workplace.Key}} <small>{{workplace.Value}}</small>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary center-block" ng-click="$ctrl.selectDoctor(doctor)">Select an appointment time</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <uib-tabset>
                <uib-tab index="$index" heading="{{day.format('MMM D')}}" ng-repeat="day in $ctrl.getDays()">
                    <div ng-repeat="hour in ['08', '09', '10', '11', '12', '13', '14', '15']" class="appointment-time">
                        <button type="button" 
                                ng-class="['btn', 'appointment-time-label', 
                                $ctrl.appointmentIsFree(day, hour, minutes)? 'btn-success' : 'btn-warning']"
                                ng-repeat="minutes in ['00', '10', '20', '30', '40', '50']"
                                ng-disabled="!$ctrl.appointmentIsFree(day, hour, minutes)"
                                ng-click="$ctrl.openModal(hour, minutes, day)">
                            {{hour}}:{{minutes}}
                        </button>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
