﻿.doctor-panel {
    max-width: 200px;
}

.appointment-time {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .appointment-time-label {
        font-size: 15px;
        margin-left: 2px;
        margin-right: 2px;
        display: inline;
    }
}

.doctor-info > div, .doctor-info > button {
    display: inline;
}

.speciality-label {
    display: block;
    margin: 2px;
    font-size: 18px;
}

.speciality-list {
    display: inline-flex;
}

.workplace {
    margin-top: 20px;
}

